/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.video-lightbox {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.16);
	overflow: hidden;

	.media-block,
	.components-radio-control {
		padding: 20px;

		/*.components-flex {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: nowrap;
			flex-direction: row;
			gap: 12px;
			margin-bottom: 12px;
		}*/
	}
	.components-button {
		background-color: #3858e9;
	}

	.video-lb-notes {
		width: 100%;
		padding: 3px 5px;
		text-align: center;
		font-weight: 400;
		text-align: center;
		background-color: var(
			--wp-components-color-accent,
			var(--wp-admin-theme-color, #3858e9)
		);
		color: #fff;
		p {
			margin: 0;
			font-size: 14px;
			font-style: italic;
		}
		h2 {
			font-size: 20px !important;
			margin: 0;
		}
	}
    .play-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.video-thumbnail {
	position: relative;
	background-color: #fff;
}
